@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	color: #222222;
	font-family: 'Questrial', sans-serif;
	font-size: 100%;
	overflow: hidden; 
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #222222;
}

.web-sandbox {
	width: 100%;
	height: 100%;
	/*margin-bottom: 3rem;*/
	display: flex;
	flex-direction: column;
}

.sandbox_container {
	width: 100%;
	display: grid;
}

.header-contain {
	height: 25%;
	line-height: inherit;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;

	font-size: 500%;
	font-weight: 900;
}

.header-contain p {
	margin: 0;
	line-height: 200%;
}

.span-yellow {
	color: #c1be2e;
}

.button-contain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.info-text_contain {
	width: 100%;
	text-align: center;
}

.button_select {
	width: 2.5in;
	height: 2.5in;
	margin: 0 1rem;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	transition: all .25s ease-out;
}

.button_select:hover {
	transform: translateY(-.25rem);
	background-color: #ffffff;
	box-shadow: 0 .2rem .5rem .1rem rgba(0,0,0,0.15);
}

.button-icon {
	width: 1.25in;
	height: 1.25in;
	/*border-radius: 50%;*/
	background-size: cover;
	/*background-color: #c1be2e;*/
}

.admin-icon {
	background-image: url(../images/admin.png);
}

.applicant-icon {
	background-image: url(../images/applicant.png);
}

.button_select span {
	margin-top: 1rem;
	font-weight: 600;
}

/*	FORM PROPERTIES	*/

.body_form {
	background-color: #ffffff;
	box-shadow: 0 .2rem .5rem .1rem rgba(0,0,0,0.15);
	width: 4in;
	padding: 2rem;
	margin: auto;
}

.acc-icon {
	margin: auto;
	width: 1in;
	height: 1in;
	background-size: cover;
}

.admin-acc_icon {
	background-image: url(../images/admin.png);
}

.applicant-acc_icon {
	background-image: url(../images/applicant.png);
}

input, button {
	width: 100%;
	padding: .75rem;
	outline: none;
	border: .05rem solid #cccccc;
	font-size: 100%;
	font-family: 'Questrial', sans-serif;
	transition: all .1s linear;
}

input {
	margin-bottom: .5rem;
}

input:focus {
	border: .05rem solid transparent;
	box-shadow: 0 0 .25rem .1rem rgba(167,163,16,.3);
}

button {
	margin-top: .5rem;
	border: none;
	background-color: #c1be2e;
	cursor: pointer;
}

a p {
	text-align: center;
	color: #222222;
}

.footer {
	position: fixed;
	bottom: 0;
	padding: .5rem 0;
	text-align: center;
}

/*	ADMIN PROFILE PROPERTIES	*/

.superadmin-page {
	overflow-y: auto;
	position: relative;
}

.sandbox_container-box {
	margin: auto;
	width: 10in;
	padding: 1rem;
}

.container_info-content {
	/*background-color: #ffffff;*/
	/*height: 50%;*/
	position: relative;
	padding: .5in 0;
}

.user-info_contain {
	display: inline-flex;
	flex-flow: row;
}

.superadmin-options_box {
	height: 1in;
	width: fit-content;
	right: 0;
	display: grid;
	align-content: center;
}

.superadmin-options_item {
	background-color: #c1be2e;
	padding: .75rem 1rem;
}

.profile-info_contain {
	display: flex;
	flex-direction: row;
}

.info-photo {
	width: 1in;
	height: 1in;
	margin-right: 1rem;
	border-radius: .25rem;
	background-size: cover;
	background-color: #444444;
	background-image: url(../images/admin.png);
}

#admin-username {
	font-size: 125%;
	font-weight: 900;
	margin-top: .5rem;
}

.admin-info {
	margin: .5rem 0;
}

.user-account-navigation {
	width: 2in;
	height: 1in;
	margin-left: 2rem;
	padding-top: .25in;
	display: flex;
	flex-flow: row;
	align-content: center;
}

.navi-item {
	width: .9in;
	height: .5in;
	margin-right: .5rem;
	background-color: #c1be2e;
}

.table-contain {
	background-color: #ffffff;
	flex-grow: .5;
	padding: 1rem;
	box-shadow: 0 .2rem .5rem .1rem rgba(0,0,0,0.15);
	margin-bottom: 3rem;
}

.applicant-view-header {
	width: 100%;
	position: relative;
}

.add-applicant_button {
	float: right;
	width: fit-content;
	line-height: 1.25rem;
	/*padding: .5rem .75rem;*/
}

.add-icon_box {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
}

.add-icon {
	position: absolute;
	width: .2rem;
	height: 1.25rem;
	background-color: #c1be2e;
}

.horizontal {
	transform: rotate(90deg);
}

.add-applicant_button span {
	width: fit-content;
	margin-left: 1.5rem;
}

.table-contain h2{
	margin-top: 0;
	color: #c1be2e;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
}

th {
	padding: 0 .5rem .5rem;
}

td {
	padding: .5rem;
}